@media screen and (max-width: 800px) {
    body {
        background-color: olive;
        color: white;
    }
    .container {
        width: 100%;
        padding-bottom: 10px;
    }
    .container #logo {
        width: 20%;
        margin-top: 10px;
    }
    .intro {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container img {
        width: 100%;
        margin: 0 auto;
        /* text-align: center; */
    }
    .intro {
        font-size: 0.75rem;
        margin-left: 10px;
    }
}