@media screen and (max-width: 600px) {
    body {
        background-color: olive;
        color: white;
    }
}

.intro {
    font-size: 0.7rem;
    padding-left: 70px;
}

.intro p {
    font-size: 16px;
}