    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Gothic A1', sans-serif;
        background-color: #f9eeed;
    }
    
    .kop {
        width: 70%;
        margin: 20px auto;
        background-color: #f2f2f2;
        box-shadow: 20px 20px 50px 15px rgba(31, 57, 106, 0.4);
    }
    
    .section {
        height: 70vh;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .sectionBtn {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    #logo {
        width: 20%;
        height: 30%;
        margin: 10px;
    }
    
    .intro {
        padding-left: 130px;
    }
    
    p {
        font-size: 1.5rem;
    }