    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Gothic A1', sans-serif;
        background-color: #f9eeed;
    }
    
    .kop {
        width: 70%;
        max-width: 1200px;
        min-height:400px;
        margin: 4rem auto;
        background-color: #f2f2f2;
-webkit-box-shadow:20px 20px 50px 15px rgba(31, 57, 106, 0.4);
        box-shadow: 20px 20px 50px 15px rgba(31, 57, 106, 0.4);
    }
    .section {
        display: grid;
        grid-template-columns: minmax(150px,1fr) minmax(250px,3fr);
        grid-gap:10vw;
        margin: 0 auto;
        padding: 5vw; 
        
      
    }
    .section #logo{
   
        margin-left: 2rem;
        background:red;
       
    }
  
  
    
   .section .intro {
    background-color: green;
        margin-top: 10px;
}

    
    p {
        font-size: 1.5rem;
    }
    
    .minilogo {
        width: 5%;
        height: 5%;
        margin-top: 20px;
        margin-left: 120px;
    }
    
    .section2 {
        height: 70vh;
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 2rem;
        padding-bottom: 10px;
    }
    
    .section2 .foto {
        background-image: url('img/LauraAangepast.png');
        background-position: center center;
        background-size: cover;
        margin-left: 20px;
    }
